@use '@/styles/common' as *;
@use '@/styles/variables' as *;

.GeneralInfo_Wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.GeneralInfo_Images {
  max-width: 100%;
  width: 100%;
}

.GeneralInfo_Body {
  width: calc(100% + 32px);
  max-width: calc(100% + 32px);
  margin: 30px -16px 0;
  padding: 10px 16px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.GeneralInfo_Body form {
  display: flex;
  gap: 15px;
  align-items: start;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 12px;
}

.GeneralInfo_Title {
  display: none;
  margin: 0 auto 0 0;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #202020;
}

.GeneralInfo_Types {
  display: none;
}

.GeneralInfo_Type {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #202020;
  width: 50%;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  /* создание в label псевдоэлемента  before со следующими стилями */
  label::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #edb528;

    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* стили при наведении курсора на радио */
  input:not(:disabled):not(:checked) + label:hover::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 16 16'%3e%3ccircle r='4' fill='%23EDB528'/%3e%3c/svg%3e");
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  input:not(:disabled):active + label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 16 16'%3e%3ccircle r='4' fill='%23EDB528'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  input:checked + label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 16 16'%3e%3ccircle r='4' fill='%23EDB528'/%3e%3c/svg%3e");
  }
}

.GeneralInfo_InfoRows {
  display: flex;
  margin-right: 20px;
}

.GeneralInfo_BuildingIntentionLabel {
  margin-left: 5px;
}

.GeneralInfo_InfoRow {
  display: flex;
  align-items: center;
  margin-right: 20px;

  &:nth-child(2) {
    display: none;
  }

  div {
    width: 100%;
  }
}

.GeneralInfo_InfoKey {
  display: none;
  // TODO [tolik]: Think about font definition
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #202020;
  white-space: nowrap;
}

.GeneralInfo_InfoValue {
  position: relative;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #202020;
  white-space: nowrap;

  sup {
    position: absolute;
    top: -5px;
    font-size: 11px;
    vertical-align: super;
  }
}

.GeneralInfo_Button {
  font-weight: 600;
  font-size: 24px;
}

@media (min-width: $tablet-width) {
  .GeneralInfo_Wrapper {
    padding-top: 42px;
  }

  .GeneralInfo_Body {
    width: calc(100% + 48px);
    max-width: calc(100% + 48px);
    margin: 30px -24px 0;
    padding: 19px 24px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  }

  .GeneralInfo_Body form {
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

  .GeneralInfo_Title {
    display: block;
  }

  .GeneralInfo_InfoRows {
    margin-left: 20px;
  }

  .GeneralInfo_InfoKey {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
  }

  .GeneralInfo_InfoValue {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (min-width: $desktop-width) {
  .GeneralInfo_Wrapper {
    padding-top: 72px;
  }

  .GeneralInfo_Body {
    padding: 27px 20px 20px 20px;
    margin: 0 0 0 20px;
    max-width: 493px;
    max-height: 420px;
    background: #f5f5f5;
    border: 1px solid #ececec;
    box-shadow: none;
    width: 33%;
  }

  .GeneralInfo_Body form {
    display: block;
  }

  .GeneralInfo_Wrapper {
    flex-direction: row;
  }

  .GeneralInfo_Images {
    max-width: 1000px;
    width: 66%;
  }

  .GeneralInfo_Title {
    margin: 0 auto 0 0;
  }

  .GeneralInfo_Types {
    margin-top: 28px;
    display: flex;
    gap: 10px;
  }

  .GeneralInfo_InfoRows {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 35px;
  }

  .GeneralInfo_InfoRow {
    margin-right: 0;
    margin-bottom: 10px;
    gap: 10px;

    &:nth-child(2) {
      display: flex;
    }

    div {
      width: 35%;
    }

  }

  .GeneralInfo_InfoKey {
    display: block;
    width: 55% !important;
  }

  .GeneralInfo_Button {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 56px;
    margin: 20px auto 0px;
    font-size: 18px;
  }
}

.GeneralInfo_Text {
  line-height: 22px;
  font-size: 18px;
  margin-top: 50px;
}